##################################
### Github Linguistic Library ####
##################################
*.yml linguist-language=YAML
*.yml linguist-detectable=true
*.yml linguist-documentation=false
*.yaml linguist-language=YAML
*.yaml linguist-detectable=true
*.yaml linguist-documentation=false
*.md linguist-language=Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false
*.svg linguist-detectable=false
*.gif linguist-language=Binary
*.svg linguist-language=Markdown
*.json linguist-detectable=true
*.json linguist-documentation=false
*.json linguist-language=JSON
### Github Linguistic Library ####
##################################