# =================================
# == Github Linguistic Library ====
*.yml linguist-language=YAML
*.yml linguist-detectable=true
*.yml linguist-documentation=false
*.md linguist-language=Markdown
*.md linguist-detectable=true
*.md linguist-documentation=false
# =================================