name: ⚒️ Automated Image Testing

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - '*/**.svg'
      - '*/**.md'
    branches:
      - 'master'

jobs:
  test-images:
    name: Begin Image Testing
    runs-on: ubuntu-latest
    services:
      docker:
        image: docker:dind
        options: >-
          --privileged  --mount
          type=tmpfs,destination=/var/lib/docker,tmpfs-size=4096m
        ports:
          - 2375:2375

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Pull Image from Docker Hub
        run: |
          docker pull ntsystems/ntsystems:latest

      - name: Pull Image from GHRC
        run: |
          docker pull ghcr.io/offensive-vk/offensive-vk:latest

      - name: Pull Image from GLCR
        run: |
          docker pull registry.gitlab.com/offensive-vk/offensive-vk:latest

      - name: Run Container - GHCR
        run: |
          docker run -it -d --name github-container ghcr.io/offensive-vk/offensive-vk:latest

      - name: Run Container - Docker
        run: |
          docker run -it -d --name docker-container ntsystems/ntsystems:latest

      - name: Run Container - GLCR
        run: |
          docker run -it -d --name gitlab-container registry.gitlab.com/offensive-vk/offensive-vk:latest

      - name: List Running Docker Containers
        run: |
          docker ps -a; echo "## Docker Version " >> $GITHUB_STEP_SUMMARY
          docker version >> $GITHUB_STEP_SUMMARY

      - name: Get System Details
        run: |
          echo " " >> $GITHUB_STEP_SUMMARY
          echo "## Container Details " >> $GITHUB_STEP_SUMMARY
          echo " --- " >> $GITHUB_STEP_SUMMARY
          docker exec github-container uname -a >> $GITHUB_STEP_SUMMARY
          docker exec gitlab-container uname -a >> $GITHUB_STEP_SUMMARY
          docker exec docker-container uname -a >> $GITHUB_STEP_SUMMARY
          echo " --- " >> $GITHUB_STEP_SUMMARY
          echo "## Docker Info " >> $GITHUB_STEP_SUMMARY
          docker system info >> $GITHUB_STEP_SUMMARY
