name: ⌚ Cronitor Monitoring Relay

on:
  workflow_call:
  workflow_dispatch:
  workflow_run:
    workflows: ['**']
    types: [requested, completed]

jobs:
  send-telemetry:
    runs-on: ubuntu-latest
    name: Send Telemetry
    if: ${{ github.event.workflow_run.name != '⚠️ Report Workflow Failures' }}
    steps:
      - name: Send Execution Details to the Cronitor Agent
        uses: cronitorio/monitor-github-actions@v7
        with:
          event: ${{ toJSON(github.event) }}
          github_token: ${{ secrets.GITHUB_TOKEN }}
          cronitor_key: ${{ secrets.CRONITOR_KEY }}
          cronitor_group: actions
          cronitor_notify: default
