name: ✌️ Automated React to Release

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        required: true
        description: 'Release Tag Name.'
        default: '2025-01'
  release:
    types: [published]

jobs:
  react_to_release:
    runs-on: ubuntu-latest
    name: React to Release
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: React to Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USER1_PAT: ${{ secrets.BOT_TOKEN }}
          USER2_PAT: ${{ secrets.GITHUB_TOKEN }}
          USER3_PAT: ${{ secrets.CLASSIC_TOKEN }}
        run: |
          RELEASE_ID="curl https://api.github.com/repos/offensive-vk/offensive-vk/releases/tags/${{ github.event.release.tag_name || github.event.inputs.tag }} | jq ".id""
          react() {
            USER_TOKEN=$1
            EMOJI=$2
            curl -s -X POST https://api.github.com/repos/${{ github.repository }}/releases/$RELEASE_ID/reactions \
              -H "Accept: application/vnd.github+json" \
              -H "Authorization: token $USER_TOKEN" \
              -d "{\"content\":\"$EMOJI\"}"
          }

          react "$USER1_PAT" "rocket"
          sleep 3
          react "$USER2_PAT" "heart"
          sleep 3
          react "$USER3_PAT" "hooray"

      - name: Log Success
        run: |
          echo "Successfully reacted to release: ${{ github.event.release.tag_name || github.event.inputs.tag }}"
